<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calculator.acme.acme_calc">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Print Calculator"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.calculator.acme.acme_calc.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.calculator.acme.acme_calc.Page2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
           />
        <activity android:name="com.calculator.acme.acme_calc.Page3"
            android:screenOrientation="portrait"/>
        <activity android:name="com.calculator.acme.acme_calc.Page4"
            android:screenOrientation="portrait"></activity>
        <meta-data
            android:name="com.google.android.gms.ads.ACME_CALC"
            android:value="ca-app-pub-8103564854164735~2035531784"/>
    </application>

</manifest>